   /*
--- 01 Typography System

  ## FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 
    20 / 24 / 30 / 36 / 44 / 52 / 62 /
     74 / 86 / 98 
    
  ## Font Weight
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700
  
  ## Letter Spacing
  0.75px , -0.5px

  ## Line-Height
    Defalt: 1
    Large-Text: 1.05
    medium: 1.2
    Large: 1.8
    Small-text / Medium-text: 1.6

--- 02 Colors:
    ### Primary

    - Nutmeg: hsl(14, 45%, 36%)
    - Dark Raspberry: hsl(332, 51%, 32%)

    ### Neutral

    - White: hsl(0, 0%, 100%)
    - Rose White: hsl(330, 100%, 98%)
    - Eggshell: hsl(30, 54%, 90%)
    - Light Grey: hsl(30, 18%, 87%)
    - Wenge Brown: hsl(30, 10%, 34%)
    - Dark Charcoal: hsl(24, 5%, 18%)



    --- 05 Shadows
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
   
--- 06 border-radius
    Default: 0.9rem
    medium: 1.1rem

    
--- 07 White-space
     SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 
    48 / 64 / 80 / 96 / 128
*/


/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin: 15rem 30rem;
  background-color: hsl(30, 54%, 90%);
  color: hsl(24, 5%, 18%);
  font-size: 1.6rem;
  line-height: 1.6;
}

.container{
  /* margin-top: 4.8rem; */
  max-width: 120rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2.4rem;
}

.titles{
  font-family: "Young Serif", "serif" ;
}

.sub-title{
  font-size: 3rem;
  color: hsl(14, 45%, 36%);
}

.bold-word{
  font-weight: 700;
}

.para-list{
  margin-left: 2.4rem;
}


/* GENERAL with exeptions */
.list-lines li::marker{
  color:hsl(14, 45%, 36%);
  font-weight: 700;
}

.ingredients,
.inst-lines{
  padding-bottom: 4rem;
  border-bottom: 3px solid hsl(30, 18%, 87%);
}

.list-lines{
  margin-top: 2.4rem;
  margin-left: 3.2rem;
  display: flex;
  flex-direction: column;
  gap:1.6rem;
}


/* HERO SECTION */
.hero-section{
  padding: 4.8rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-bottom: 4rem;
}

.hero-img{
  /* margin-right: 4.8rem; */
  /* margin-bottom: 0; */
  width: 100%;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
}

.hero-part1{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.main-title{
  font-size: 5.2rem;
}

.Preparation{
  padding: 3.2rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 1.2rem;
}

.Preparation-title{
    font-size: 2.4rem;
    color: hsl(332, 51%, 32%);
}

.frist-list-lines li::marker { 
  color: hsl(332, 51%, 32%) !important;
}


/* Instructions-section */
.Instructions-section,
.Nutrition-section{
  padding: 0 4.8rem;
  margin-bottom: 4rem;
}


/* Nutrition-section */
.Nutrition-section{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.nums{
  color: hsl(14, 45%, 36%);
}

.nut-items{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nut-line{
  margin-left: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.border {
  border-bottom: 3px solid hsl(30, 18%, 87%);
}

/* Attribution */
.attribution{
  padding: 1.6rem;
  font-size: 1.4rem;
  color: hsl(30, 10%, 34%);
}

.footer-links{
  text-decoration: none;
}
.footer-links:link,
.footer-links:visited{
  color: hsl(30, 10%, 34%);
  transition: all 0.2s;
}

.footer-links:hover,
.footer-links:active{
  color: hsl(24, 5%, 18%);
  font-weight: 600;
}